@import url('https://fonts.googleapis.com/css2?family=Exo&family=Imprima&family=Patua+One&family=Varela+Round&family=Young+Serif&display=swap');
* {
    margin: 0;
}

body {
    font-family: 'Varela Round', sans-serif;
    overflow-x: hidden;
    background-color: rgb(31, 28, 28);
}

button{

    background-color: #de3b3b;
    border: 2px solid #de3b3b;
    color: white;
    padding: 1.5vh 2vw;
    font-size: 2.5vh;
    width: 12vw;
    margin: 0vh auto;
    border-radius: 1vh;
    cursor: pointer;
    font-weight: bolder;
    transition: 1s;
}

button:hover{

    background-color: transparent;
    color: #de3b3b;

}

 /* red :#de3b3b */